@import "libs";
@import "helpers/variables";
@import "helpers/mixins";
@import "general/fonts";
@import "general/base";
@import "../blocks/blocks";

$light-color:#fff;
$accent-color:#65e496;
$bg-light-color: #f5f6fa;
$bg-dark-color: #44444f;
$text-color: #696980;
$gray-color: #9191b5;
$dots-color: #5bb498;

h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}

h2, h3, h4 {
    color: $bg-dark-color;
}

h3 {
    font-size: 24px;
    letter-spacing: 1.2px;
}

body {
   font-family: 'Roboto Slab', serif;
   font-size: 15px;
   line-height: 24px;
   color: $text-color;
   letter-spacing: 0.75px;
   @media(max-width:480px) {
        font-size: 14px;                    
    }
}

.wrap {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.page-main {   
    background-image: url(../img/bg-main.png);
    background-repeat: no-repeat;
    background-size: cover;
    color:$light-color;
    padding-bottom: 162px;
    @media(max-width: 1024px) {
        padding-bottom: 100px;
    }
    @media (max-width: 630px) {
    padding-bottom: 60px;
    }

}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    max-width: 1170px;
    margin: 0 auto;    
    padding: 33px 15px 163px 15px;
    @media(max-width:1024px) {
        padding: 33px 15px 60px 15px;
    }
    @media(max-width:945px) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    @media(max-width:750px) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    &__logo {
        display: block;
        width: 137px;
        height:28px;
        background-image: url(../img/logo.svg);
        outline: none;
    }
    &-list {
        list-style-type: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        font-family: 'Open Sans', serif;
        margin-top: 20px;
        padding: 0;
        @media(max-width:750px) {
            display: none;
        }
        &__item {
            margin-left: 26px;
            padding-bottom: 3px;
            border-bottom: 3px solid transparent;
            -webkit-transition: .3s;
            transition: .3s;
            &:first-child {
                margin-left: 0;
                @media(max-width:750px) {
                    margin-left: 26px;
                }
            }
            &:hover {
                border-bottom: 3px solid $accent-color;
            }
        }
        &__item.active {
            border-bottom: 3px solid $accent-color;
        }
        &__link {
            text-decoration: none;
            color:$light-color;
            letter-spacing: 0.5px;
        }        
    }    
}
.btn-menu {
    display: none;
    width: 28px;
    height: 28px;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;   
    &>svg {
        width: 28px;
        height: 28px;
    }
    @media(max-width:750px) {
       display: block;       
    }
}
.btn-close {
    display: none;
    position: absolute;
    top: 95px;
    right: 40px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    opacity: 0.3;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: 0;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
    &>svg {
        width: 20px;
        height: 20px;
    }       
}
.modal-list {
    display: none;   
    position: absolute;
    top: 80px;
    right: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: $bg-dark-color;
    border-radius: 5px;
    width: 100%;
    max-width: 290px;
    margin: 0;
    padding: 10px 0;
    &__item {
        margin: 5px 0 5px 26px;
        &_active {
            a { 
                color: $accent-color;
            }
        }        
    }
    &__link {
        -webkit-transition: 0.3s;
        transition: 0.3s;        
        &:hover {
            color: $accent-color;
        }
    }
}
.block-text {
    -ms-flex-preferred-size: calc(92% - 500px);
        flex-basis: calc(92% - 500px);
    @media(max-width:1024px) {
        -ms-flex-preferred-size: calc(92% - 315px);
            flex-basis: calc(92% - 315px);
    }   
    &_events {
        -ms-flex-preferred-size: calc(92% - 506px);
            flex-basis: calc(92% - 506px);
        @media(max-width:1024px) {
            -ms-flex-preferred-size: calc(92% - 315px);
                flex-basis: calc(92% - 315px);
        } 
    }   
    &__name {
        font-family: 'Open Sans', serif;
        font-size: 18px;
        letter-spacing: 0.85px;
        margin-bottom: 28px;
        margin-left: 2px;
        &_top {
            margin-top: 15px;
            margin-bottom: 18px;
            margin-left: 0px;
        }
        &_events {
            margin-top: 0;
            margin-bottom: 22px;
            margin-left: 3px;
            line-height: 17px;           
        }
    }
    &__title {
        font-size: 48px;
        font-weight: 700;
        letter-spacing: 1.8px;
        margin-bottom: 38px;
        line-height: 53px;
        @media(max-width:480px) {
            font-size: 30px;
            line-height: 1.1;
            margin-bottom: 20px;
        }     
        span {
            display: block;
            font-size: 18px;
            color: $accent-color;
            margin-top: 10px;
            letter-spacing: 0.9px;
            line-height: 24px;
            @media(max-width:480px) {
                font-size: 16px;                
            }
        }
        &_events {
            span {
                letter-spacing: 0.92px;
                margin-left: 2px;
            }
        }
    }
    &__description {
        font-family: 'Open Sans', serif;
        font-size: 15px;
        line-height: 24px;        
        margin-bottom: 24px;
        @media(max-width:480px) {
            font-size: 14px;            
            margin-bottom: 15px;
        }
    }    
    small {
        font-family: 'Open Sans', serif;
        font-weight: 400;
        font-style: italic;
        letter-spacing: 0.6px;
    }
    &-item {
        margin-top: 40px;
        &__date {
            font-family: 'Open Sans', serif;          
            color: $text-color;
        }
        &__title {
            font-size: 18px;           
            margin-top: 4px;
            letter-spacing: 0.9px;
        }
        &__desc {
            font-family: 'Open Sans', serif;            
            color: $text-color;
            margin-top: 16px;           
        }
        &:last-child {
            margin-top: 55px;
        }
    }
}

.block-book {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    @media(max-width:1024px) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        text-align: center;
    }
    &-demo {
        display: block;
        position: relative;
        width: 445px;
        height: 639px;
        background-image: url(../img/book-header.svg);
        background-repeat: no-repeat;
        -ms-flex-preferred-size: 500px;
            flex-basis: 500px;
        @media(max-width:1024px) {
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
            margin: 56px auto 0;
        }
        @media(max-width:630px) {           
            margin: 30px auto 0;
            width: 70vw;
            height: 100.52vw;
            background-size: contain;
        }
        &__title {
            position: absolute;
            text-transform: uppercase;
            font-size: 36px;
            font-weight: 700;
            top: 118px;
            left: 131px;
            letter-spacing: 1.3px;
            color: $light-color;
            @media(max-width:630px) {           
               font-size: 5.71vw;
               top: 18.73vw;
               left: 20.79vw;
               line-height: 3.81vw;
            }
            span{
                text-transform: initial;
                font-weight: 400;
                font-family: 'Open Sans', serif;
                font-size: 14px;
                color: $accent-color;
                display: block;
                letter-spacing: 0.7px;
                margin-top: 10px;
                @media(max-width:630px) {           
                    font-size: 2.22vw;
                    margin-top: 1.59vw;
                 }
            }
        }
        &__author {
            font-family: 'Open Sans', serif;
            font-size: 14px;
            color: $accent-color;
            position: absolute;
            bottom: 52px;
            left: 85px;
            letter-spacing: 0.7px;
            @media(max-width:630px) {           
                font-size: 2.22vw;
                bottom: 8.25vw;
                left: 13.49vw;
                line-height: 3.81vw;
             }
        }
    }
}

.page {
    padding: 160px 0 160px 0;
    position: relative;
    @media(max-width: 1024px){       
        padding: 100px 0 100px 0;
    }
     @media (max-width: 1024px) {
        padding: 60px 0 60px 0;
    }
    &_gray {
        background-color: $bg-light-color;
        padding: 149px 0 240px 0;
    }
    &__title {
        font-size: 48px;
        text-align: center;
        letter-spacing: 2px;
        margin-bottom: 10px;
        line-height: 1.1;
        @media(max-width:480px) {
            font-size: 30px;
            margin-bottom: 5px;
        }
        &_letter {
            text-align: left;
            margin-bottom: 10px;
            letter-spacing: 1.8px;
            @media(max-width:1024px) {
                text-align: center;         
             }           
        }
    }
    &__subtitle {
        color: $accent-color;
        text-align: center;
        font-size: 18px;
        letter-spacing: 0.9px;
        @media(max-width:480px) {
            font-size: 16px;
        }
    }
    &__btn {       
        display: block;
        outline: none;
        border: none;
        background: -webkit-gradient(linear, right bottom, left top, from(#65e4ce), to(#65e4a1));
        background: linear-gradient(to top left, #65e4ce, #65e4a1);
        color: $light-color;
        font-size: 18px;
        text-decoration: none;
        text-align: center;
        max-width: 250px;
        border-radius: 3px;
        margin-top: 47px;
        padding: 11px 0 15px 0;
        letter-spacing: 0.75px;
        margin-bottom: 14px;
        -webkit-box-shadow: 0 -2px #adedbb inset;
                box-shadow: 0 -2px #adedbb inset;  
        &_main {
            -webkit-box-shadow: 0 -2px #59ba88 inset;
                    box-shadow: 0 -2px #59ba88 inset;
            @media(max-width:1024px) {
                margin: 47px auto 14px;
            }
        }     
        &_biography {
            max-width: 236px;
            @media(max-width: 850px) {                
                margin: 30px auto 0;
            }
        }
        &_about {
            cursor: pointer;
            letter-spacing: 0.9px;
            padding: 13px 42px 17px 45px;            
            margin-left: 2px;
            margin-top: 27px;
            @media(max-width:630px) {
                margin: 27px auto 0;
            } 
        }
        &_other {
            background-color: #65e4a4;
            margin: 84px auto 0 auto;
            max-width: 221px;
            @media(max-width: 1024px) {
                margin-top: 40px;
            }
        }
        &_registration {
            max-width: -webkit-fit-content;
            max-width: -moz-fit-content;
            max-width: fit-content;
            padding: 11px 27px 15px 34px;
            margin-top: 24px;
            @media(max-width: 850px) {                
                margin: 24px auto 14px;                
            }
        }
        &_blog {
            max-width: 265px;
            margin: 84px auto 0 auto;
            @media(max-width:900px) {
                margin-top: 0;
            }
        }
        &_letter {
            cursor: pointer;
            max-width: none;
            width: 100%;
            margin-bottom: 0;
            margin-top: 20px;
            padding: 13px 0 17px 0;
            @media(max-width:1024px) {
                max-width: 500px;
                margin: 20px auto 0;          
             }
        }
        &_up {
            display: none;
            position: fixed;
            font-size: 30px;
            bottom: 2vh;
            right: 3vw;
            padding: 17px 20px;
            opacity: 0.5;
            box-shadow: none;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            @media(max-width:1024px) {
                font-size: 24px;
                padding: 12px 15px;
            }
            @media(max-width:750px) {
                display: none;
            }
            &:hover {
                opacity: 0.9;
            }
        }
    }
    &_other {
        padding-top: 149px;
    }
    &_carousel {
        padding: 218px 0 214px 0;
        @media(max-width: 1024px){
           background-color: $bg-dark-color;           
        } 
    }
    &_events {
        padding: 160px 0 174px 0;
    }
    &_blog {
        padding: 152px 0 159px 0;
    }
    &__svg {
            position: absolute;
            top: 0;
            width: 100%;
            z-index: -1;
            min-height: 800px;
            @media(max-width: 1024px){
                display: none;
            }   
    }
    &_letter {
        padding: 153px 0 154px 0;
    }
}

.block-author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    @media(max-width: 850px) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        text-align: center;
    } 
}

.block-ava {
    position: relative;
    @media(max-width: 850px) {
        max-width: 330px;
        margin: 0 auto;
    }
    @media(max-width: 480px) {
        width: 70vw;        
    }
    &__svg {
        position: absolute;
        right: 0;
        z-index: -1;
        @media(max-width:1024px) {
            width: 300px;
            height: 412px;
        } 
        @media(max-width:480px) {
            width: 63.63vw;
            height: 87.39vw;
        }      
        &_left {
            left: 0;
            @media(max-width: 850px) {            
                margin-top: 30px;
            }
            @media(max-width:480px) {
                margin-top: 6.25vw;
            }
        }
    }
    &__img {
        margin-top: 48px;
        margin-right: 45px;
        @media(max-width:1024px) {
           width: 300px;
        }    
        @media(max-width: 850px) {            
        margin-bottom: 50px;
        }
        @media(max-width: 480px) {
            width: 63.63vw;
            margin-top: 10vw;
            margin-right: 9.38vw;
            margin-bottom: 10.42vw;       
        }       
        &_left {
            margin-right: 0;
            margin-left: 50px;
            margin-top: 49px;
            @media(max-width: 850px) {            
                margin: 60px 0 0 30px;             
            }
            @media(max-width: 480px) {
                width: 63.63vw;
                margin: 12.5vw 0 0 6.25vw;
            } 
        }
    }
}

.block-counter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 211px;
    @media(max-width:1024px) {
        margin-top: 80px;
    }
    @media(max-width:750px) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }    
    p {
        font-family: 'Open Sans', serif;
        font-size: 18px;        
        text-align: center;
        @media(max-width:750px) {
            margin-bottom: 80px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        @media(max-width:480px) {
            margin-bottom: 50px;
            font-size: 16px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        span {
            display: block;
            font-family: 'Roboto Slab', serif;
            font-size: 80px;
            font-weight: 100;
            color: $accent-color;
            margin-bottom: 45px;
            @media(max-width:480px) {
                margin-bottom: 35px;
                font-size: 60px;                              
            }
        }
    }
}

.block-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 83px;
    @media(max-width:1024px) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 40px auto 0 auto;
        max-width: 750px;
    }
    .subtitle {
        margin-bottom: 20px;
        @media(max-width:630px) {
            text-align: center;
        }
        @media(max-width:480px) {            
            font-size: 20px;
        }       
    }    
    &-text {
        -ms-flex-preferred-size: calc(100% - 690px);
            flex-basis: calc(100% - 690px);
        @media(max-width:1024px) {
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
        }
        @media(max-width:630px) {
            text-align: center;
        }  
        &__desc{
            font-family: 'Open Sans', serif;            
        }
    }
    &-social {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 30px;
        margin-left: 1px;
        @media(max-width:630px) {
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }
        &__title {
            font-family: 'Roboto Slab', serif;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 0.9px;
            color: $bg-dark-color;           
        }
        &__list {
            list-style-type: none;
            margin: 0;
            padding-left: 23px;
            &>li {
                display: inline-block;
                vertical-align: middle;
                font-size: 18px;
                margin-right: 13px;
                &>a {
                    color: $accent-color;
                }
            }
        }
    }    
    &-table {
        -ms-flex-preferred-size: 585px;
            flex-basis: 585px;
        @media(max-width:1024px) {
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
            margin-top: 40px;
        }
        @media(max-width:630px) {            
            max-width: 300px;
            margin: 40px auto 0;
        }       
        &__list {
            font-family: 'Open Sans', serif;
            margin: 25px 0 0 0;
            padding: 0;
            counter-reset: list;
            -webkit-column-count: 2;
                    column-count: 2;
            -webkit-column-gap: 24px;
                    column-gap: 24px;
            @media(max-width:630px) {
                -webkit-column-count: 1;
                        column-count: 1;               
            } 
            &>li {
                counter-increment: list;
                list-style-type: none;
                position: relative;
                padding-left: 37px;
                margin-bottom: 8px;
                letter-spacing: 0.7px;
                &::before {
                    content: counter(list) ". ";
                }
                &::after {
                    content: '+';
                    position: absolute;   
                    left: 0;
                    top: 1px;
                    font-size: 15px;
                    line-height: 22px;
                    background: -webkit-gradient(linear, right bottom, left top, from(#65e4ce), to(#65e4a1));
                    background: linear-gradient(to top left, #65e4ce, #65e4a1);
                    color: $light-color;
                    padding: 0px 7px;
                    margin-bottom: 10px;          
                }
            }
            &_next {                
                counter-increment: list 10;
                position: relative;
                &::before {
                    content: '';
                    width: 100px;
                    height: 2px;
                    background: -webkit-gradient(linear, right bottom, left top, from(#65e4ce), to(#65e4a1));
                    background: linear-gradient(to top left, #65e4ce, #65e4a1);
                    position: absolute;
                    top: -18px;
                }                
            }
        }
        &__btn-close {
            cursor: pointer;
            display: block; 
            width: 100%;
            max-width: 670px;        
            background-color: transparent;
            border: 2px solid $accent-color;
            border-radius: 5px;
            color: $accent-color;
            font-size: 20px;
            padding: 3px auto;
            margin-top: 10px;
            opacity: 0.3;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            &:hover {
                opacity: 1;
            }       
        }
    }    
}

.block-other {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 84px;
    @media(max-width:1024px) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-top: 0px;
    }
    &__item {
        position: relative;
        text-align: center;
        max-width: 370px;
        @media(max-width:1024px) {
            margin: 50px auto 0 auto;
        }
        @media(max-width:480px) {
            margin-top: 10.42vw;                    
        }
        .block-book-demo {
            &_other{
                background-image: url(../img/book-other.svg);
                width: 269px;
                height: 409px;
                -ms-flex-preferred-size: 269px;
                    flex-basis: 269px;
                margin: 0 auto; 
                background-size: cover;
                @media(max-width:480px) {
                    width: 56.04vw;
                    height: 85.21vw;
                    -ms-flex-preferred-size: 56.04vw;
                        flex-basis: 56.04vw;                    
                }           
            }
            &__title {
                &_other {
                    color: $light-color;
                    font-size: 24px;
                    top: 71px;
                    left: 70px;
                    letter-spacing: 1px;
                    @media(max-width:480px) {
                        font-size: 5vw;
                        top: 14.79vw;
                        left: 14.58vw;
                    } 
                    span {
                        font-size: 12px;
                        letter-spacing: 0.6px;
                        margin-top: 7px;
                        @media(max-width:480px) {
                            font-size: 2.5vw;
                            margin-top: 1.46Vw;
                        }
                    }
                }
            }
            &__author {
                &_other{
                    font-size: 12px;
                    bottom: 27px;
                    left: 81px;
                    letter-spacing: 0.6px;
                    @media(max-width:480px) {
                        font-size: 2.5vw;
                        bottom: 5.63vw;
                        left: 16.88vw;
                    }
                }
            }
        }
        .subtitle {
            margin-top: 35px;
            margin-bottom: 17px;
        }        
    }
    &__btn-more {
        display: inline-block;
        font-family: 'Open Sans', serif;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
        color: $accent-color;
        margin-top: 17px;
        -webkit-transition: 0.1s;
        transition: 0.1s;
        &:hover {
            font-size: 16px;
        }
    }    
}
.block-blog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 85px;
    @media(max-width:900px) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        max-width: 500px;
        margin: 45px auto 0 auto;
    }
    &-item {
        -ms-flex-preferred-size: 31.5%;
            flex-basis: 31.5%;
        @media(max-width:900px) {
            margin-bottom: 40px;            
        }
    }
    h4 {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.9px;
        margin-bottom: 3px;
        margin-top: 16px;
    }
    &-info {        
        display: -webkit-box;        
        display: -ms-flexbox;        
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        font-family: 'Open Sans', serif;                
        a {
            display: inline-block;
            text-decoration: none;
            color: $accent-color;
            span {               
                color: $text-color;
            }
        }    
    }
    &__desc {
        margin-top: 12px;       
    }
    &-img {
        position: relative;
        width: 100%;
        height: 224px;
        overflow: hidden;
        img {
            width: 100%;
            height: 224px;
            position: absolute;
            left: 50%;
            top: 50%;
            -o-object-fit: cover;
               object-fit: cover;
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
        }
    }
}
.block-letter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    @media(max-width:1024px) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;       
        text-align: center;            
    }
    &-item {
        -ms-flex-preferred-size: 48.8%;
            flex-basis: 48.8%;
        @media(max-width:1024px) {
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%;           
         }
    }
    &__input {
        outline: none;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        width: 100%;
        border: none;
        border-radius: 3px;
        background-color: $bg-dark-color;
        font-family: 'Open Sans', serif;
        color: $gray-color;       
        padding: 15px 30px 16px 27px;
        margin-top: 7px;
        &::-webkit-input-placeholder {font-family: 'Open Sans', serif; font-size: 15px; color: $gray-color; letter-spacing: 0.75px;};
        &:-moz-placeholder {font-family: 'Open Sans', serif; font-size: 15px; color: $gray-color; letter-spacing: 0.75px;};
        &::-moz-placeholder {font-family: 'Open Sans', serif; font-size: 15px; color: $gray-color; letter-spacing: 0.75px;};
        &:-ms-input-placeholder {font-family: 'Open Sans', serif; font-size: 15px; color: $gray-color; letter-spacing: 0.75px;};
        @media(max-width:1024px) {
           max-width: 500px;           
        }
    }
    &__text {
        font-family: 'Open Sans', serif;
        @media(max-width:1024px) {
            margin-bottom: 23px;             
        }
    }
}
.footer {
    font-family: 'Open Sans', serif;
    background-color: $bg-dark-color;
    color: $gray-color;
    padding: 160px 0 154px 0;
    @media(max-width:1300px) {
        padding: 100px 0 100px 0;             
    }
    .block-footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        @media(max-width:1000px) {
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;            
            text-align: center;
            max-width: 700px;
            margin: 0 auto;
        }
        &__item {
            -ms-flex-preferred-size: 32%;
                flex-basis: 32%;
            min-width: 365px;
            @media(max-width:1000px) {
                -ms-flex-preferred-size: 100%;
                    flex-basis: 100%;
                min-width: auto;
            }
            &:nth-child(n+2) {
                -ms-flex-preferred-size: 23.2%;
                    flex-basis: 23.2%;
                min-width: 265px;
                margin-top: 9px;
                @media(max-width:1000px) {
                    -ms-flex-preferred-size: 50%;
                        flex-basis: 50%;
                    min-width: auto;
                    margin-top: 20px;                    
                }
                @media(max-width:480px) {
                    -ms-flex-preferred-size: 100%;
                        flex-basis: 100%;                                      
                }
            }
        }
        &__logo {
            display: block;
            width: 137px;
            height:28px;
            background-image: url(../img/footer-logo.svg);
            @media(max-width:1000px) {
                margin: 0 auto;
            }
        }
        &__title {
            font-family: 'Roboto Slab', serif;
            color: $accent-color;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 700;
        }
        &__text {            
            letter-spacing: 0.6px;
            margin-top: 25px;
        }
        &__list {
            list-style-type: none;
            padding-left: 0;
            margin: 20px 0 0 0;
            &>li {
                letter-spacing: 0.6px;
                &>a {
                    display: block;
                    width: -webkit-fit-content;
                    width: -moz-fit-content;
                    width: fit-content;
                    margin-top: 4px;
                    text-decoration: none;
                    color: $gray-color;
                    -webkit-transition: 0.3s;
                    transition: 0.3s;
                    @media(max-width:1000px) {
                        margin: 4px auto 0;
                    }
                    &:hover {
                        color: $light-color;
                    }              
                }
            }                
        }
        &__social {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            list-style-type: none;
            text-decoration: none;
            padding: 0;
            margin: 11px 0 0 0;
            @media(max-width:1000px) {
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
            }
            &>li {
                margin-right: 13px;
                @media(max-width:1000px) {
                    &:last-child {
                        margin-right: 0;
                    }
                }
                &>a {
                    color: $accent-color;
                    -webkit-transition: 0.3s;
                    transition: 0.3s;
                    &:hover {
                        color: $light-color;
                    }              
                }
            }
        }
    }
}
.block-carousel {
    text-align: center;
    &__avatar {
        position: relative;
        width: 152px;
        height: 152px;
        overflow: visible;
        margin: 5px auto 26px auto;
        span {            
            position: absolute;
            top: -5px;
            right: -15px;
            font-size: 48px;
            color: #65e4a6;
        }
    }
    &__foto {       
        width: 152px;
        height: 152px;
        border-radius: 50%;        
        &_1 {
            background-image: url(../img/avatar.png);
            background-position: -112px -9px;
        }
        &_2 {
            background-image: url(../img/avatar2.png);
            background-position: -27px 0;
            background-size: auto 100%;
            background-repeat: no-repeat;
        }
        &_3 {
            background-image: url(../img/avatar3.png);           
            background-size: auto 100%;
            background-repeat: no-repeat;
        }        
    }

    &__subtitle {
        color: $accent-color;
    }
    &__text {
        font-family: 'Open Sans', serif;
        color: $gray-color;
        margin-top: 5px;
        &:nth-child(2n) {
            margin: 33px auto 0 auto;
            max-width: 750px;
            line-height: 28px;
        }          
    }
    .slick-dots {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        list-style-type: none;
        margin: 48px auto 0 auto;
        padding: 0;
        &>li {
            margin: 0 5px;
            line-height: 8px;
            &>button {
                text-indent: -99999px;
                width: 8px;
                height: 8px;
                border: none;
                background-color: $dots-color;
                border-radius: 50%;
                padding: 4px;
                outline: none;
                cursor: pointer;
                &:hover {
                    background-color: $accent-color;
                }
            }
        }
        .slick-active {
            &>button {
                width: 37px;
                border-radius: 4px;
                background: -webkit-gradient(linear, right bottom, left top, from(#65e4ce), to(#65e4a1));
                background: linear-gradient(to top left, #65e4ce, #65e4a1);
            }
        }
    }
}